<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/main.js"></script>
    <title>Welcome to Vietick</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="/static/images/logo.svg" alt="Vietick">
            <div class="text-logo">Vietick</div>
        </div>
        <div class="menu">
            <a href="#">Home</a>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
            <a href="#product">Product</a>
        </div>
        <div class="auth">
            <a id="login" href="#">Login</a>
            <a id="signup" href="#">Sign Up</a>
        </div>
    </nav>
    <header>
        <div class="hero-section">
            <div class="hero-context">
                <h1>Welcome to Vietick</h1>
                <h2>Solutions to all your questions</h2>
                <p>Where everyone can come together to solve problems in all fields</p>
                <button id="register">Register</button>
            </div>
            <img src="/static/images/Illustration.svg" alt="Hero image">
        </div>
        <div class="client">
            <h1>Our Clients</h1>
            <p>We have been working with some Fortune 500+ clients</p>
            <div class="client-logos">
                <img src="/static/images/img1.svg" alt="Client 1">
                <img src="/static/images/img2.svg" alt="Client 2">
                <img src="/static/images/img3.svg" alt="Client 3">
                <img src="/static/images/img4.svg" alt="Client 4">
                <img src="/static/images/img5.svg" alt="Client 5">
                <img src="/static/images/img6.svg" alt="Client 6">
            </div>
        </div>
        <div class="manage">
            <h1>Manage all your issues in one system</h1>
            <p>What does Vietick have?</p>
            <div class="group">
                <div class="cart">
                    <img src="/static//images/member.svg" alt="user">
                    <h1>Friendly community</h1>
                    <p>Friendly community with new knowledge and perfect problem solving ability</p>
                </div>
                <div class="cart">
                    <img src="/static//images/nation.svg" alt="national">
                    <h1>International community</h1>
                    <p>With the help of the international community makes the problem easier</p>
                </div>
                <div class="cart">
                    <img src="/static//images/help.svg" alt="help">
                    <h1>24/7 Support</h1>
                    <p>Community ready to support your issues 24/7</p>
                </div>
            </div>
        </div>
        <div class="security">
            <img src="/static/images/security.svg" alt="image">
            <div class="context">
                
            </div>
        </div>
    </header>
</body>
</html>